/.idea/
/.vs/
/ScoutingAppBase/ScoutingAppBase/bin/
/ScoutingAppBase/ScoutingAppBase/obj/
/ScoutingAppBase/ScoutingAppBase.Android/bin/
/ScoutingAppBase/ScoutingAppBase.Android/obj/
/ScoutingAppBase/ScoutingAppBase.iOS/bin/
/ScoutingAppBase/ScoutingAppBase.iOS/obj/
